name: Release
on:
  push:
    branches:
      - main
      - 'release/*'
      - '[0-9]+.x'
      - '[0-9]+.[0-9]+.x'
  workflow_dispatch: # manual trigger
jobs:
  release:
    name: Release
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
        with:
          persist-credentials: false
      - uses: Brightspace/setup-node@main
        with:
          node-version-file: .nvmrc
          registry-url: "https://registry.npmjs.org"
      - name: Incremental Release
        uses: BrightspaceUI/actions/incremental-release@main
        with:
          DEFAULT_INCREMENT: minor
          GITHUB_TOKEN: ${{ secrets.D2L_RELEASE_TOKEN }}
          NPM: true
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
